@import url("https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.contact-information, .input-container, .books-container {
  margin: 0 1em;
}

.input-container form input, body {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: normal;
}

.book-remove-btn {
  border-radius: 4px;
  border: none;
  padding: 1em;
  margin: 2em 1em;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

.scroll {
  height: 450px;
  overflow-x: hidden;
  overflow-y: auto;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #f1f2da;
  background-color: #00303b;
  width: 100%;
  justify-content: space-between;
  height: 3em;
  position: fixed;
  top: 0;
}
nav .nav-links-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 1em;
}
nav a {
  font-size: 0.8em;
  font-weight: "";
  font-style: "";
  color: #f1f2da;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 321px) and (max-width: 768px) {
  body {
    background-image: url("../../assets/Ilustration-2.png"), url("../../assets/Ilustration-1.png");
    background-position: top right, bottom left;
    background-repeat: no-repeat;
    background-color: #ffce96;
    height: 100vh;
  }
}
@media (min-width: 769px) {
  body {
    background-image: url("../../assets/Ilustration-3.png");
    background-position: top right, bottom left;
    background-repeat: no-repeat;
    background-color: #ffce96;
    height: 100vh;
  }
}
body .hide {
  display: none;
}

h1,
h2 {
  color: #00303b;
  background-color: transparent;
  font-size: 2em;
  font-weight: normal;
  font-style: normal;
  color: #00303b;
  margin: 0 0 1em;
}

h3 {
  text-align: right;
  font-size: 0.8em;
  position: fixed;
  top: 50px;
  width: 100%;
}

footer {
  color: #f1f2da;
  background-color: #00303b;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3em;
}
footer p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  height: 100%;
}

.books-container {
  width: 90vw;
}
.books-container .book-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 0.2em;
  background-color: #ff7777;
  width: 100%;
  padding: 1em;
  border-radius: 8px;
  border: #00303b solid 2px;
}
.books-container .book-list .book-list-element {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  width: 100%;
  padding: 0 1em;
}
.books-container .book-list .book-list-element:nth-child(odd) {
  background-color: #f1f2da;
  color: #00303b;
}
.books-container .book-list .book-list-element:nth-child(odd) .book-remove-btn {
  color: #00303b;
  background-color: #ffce96;
  font-size: "";
  font-weight: bold;
  font-style: normal;
  color: "";
}
.books-container .book-list .book-list-element:nth-child(even) {
  background-color: #00303b;
  color: #f1f2da;
}
.books-container .book-list .book-list-element:nth-child(even) .book-remove-btn {
  color: #f1f2da;
  background-color: #ff7777;
  font-size: "";
  font-weight: bold;
  font-style: normal;
  color: "";
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
}
.input-container form {
  color: #f1f2da;
  background-color: #00303b;
  padding: 1em;
  width: 100%;
  border-radius: 4px;
  border: #f1f2da solid 2px;
}
.input-container form label {
  font-size: 2em;
  text-align: left;
  width: 100%;
}
.input-container form input {
  color: #00303b;
  background-color: #f1f2da;
  font-size: 2em;
  font-weight: bold;
  font-style: normal;
  color: #00303b;
  border: none;
  width: 100%;
  height: 1.5em;
  border-radius: 4px;
}
.input-container form input.btn-1 {
  color: #f1f2da;
  background-color: #ff7777;
  height: 100%;
  margin: 1em 0 0 0;
}
.input-container form input.btn-1:hover {
  filter: hue-rotate(45deg);
  box-shadow: #f1f2da 4px 4px 5px;
}
.input-container form input.btn-1:active {
  filter: hue-rotate(-45deg);
  box-shadow: #f1f2da 4px 4px 5px;
}

.contact-information .information-container {
  color: #f1f2da;
  background-color: #00303b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  border-radius: 4px;
  padding: 1em;
}
.contact-information .information-container ul {
  list-style: disc;
}
.contact-information .information-container ul li {
  margin: 1em;
}

.logo-5, .logo-4, .logo-3, .logo-2, .logo-1 {
  background-image: url(../assets/LogoSpriteSheet-export.png);
  width: 91px;
  height: 22px;
  display: block;
  background-size: 100%;
  opacity: 0.5;
}

.icon-5, .icon-4, .icon-3, .icon-2, .icon-1 {
  width: 64px;
  height: 64px;
  background-image: url(../assets/Site-Icons-scaled.png);
}

.icon-1 {
  animation: sprite1 1s steps(10) infinite;
}
@keyframes sprite1 {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -640px 0;
  }
}
.icon-2 {
  animation: sprite2 1s steps(10) infinite;
}
@keyframes sprite2 {
  0% {
    background-position: 0 -64px;
  }
  100% {
    background-position: -640px -64px;
  }
}
.icon-3 {
  animation: sprite3 1s steps(10) infinite;
}
@keyframes sprite3 {
  0% {
    background-position: 0 -128px;
  }
  100% {
    background-position: -640px -128px;
  }
}
.icon-4 {
  animation: sprite4 1s steps(10) infinite;
}
@keyframes sprite4 {
  0% {
    background-position: 0 -192px;
  }
  100% {
    background-position: -640px -192px;
  }
}
.icon-5 {
  animation: sprite5 1s steps(10) infinite;
}
@keyframes sprite5 {
  0% {
    background-position: 0 -256px;
  }
  100% {
    background-position: -640px -256px;
  }
}

.logo-1 {
  background-position: 0 0;
}
.logo-2 {
  background-position: 0 -64px;
}
.logo-3 {
  background-position: 0 -128px;
}
.logo-4 {
  background-position: 0 -192px;
}
.logo-5 {
  background-position: 0 -256px;
}

.event-logo {
  background-image: url(../assets/event-logo-scaled.png);
  width: 64px;
  height: 64px;
  background-size: 100%;
}

@media only screen and (min-width: 768px) {
  .logo-5, .logo-4, .logo-3, .logo-2, .logo-1 {
    background-image: url(../assets/LogoSpriteSheet-export.png);
    width: 136px;
    height: 32px;
    display: block;
    background-size: 100%;
    opacity: 0.5;
  }
}
.face-icon {
  background-image: url("../assets/facebook.svg");
  width: 16px;
  height: 16px;
  filter: white;
}

.twit-icon {
  background-image: url("../assets/twitter.svg");
  width: 16px;
  height: 16px;
  fill: white;
}

.btn-1 {
  background-color: #00303b;
  border-radius: 4px;
  width: 60%;
  border: none;
  padding: 1em;
  margin: 2em 1em;
}
.btn-1:active {
  background-color: red;
}
.btn-1:hover {
  background-color: blue;
}

.burger-container {
  padding: 1em;
  width: 50px;
  height: 50px;
}
.burger-container .burger {
  position: absolute;
  background-color: grey;
  width: 26px;
  height: 5px;
  top: 20px;
  transition: all 1s ease;
}
.burger-container .burger::before {
  content: "";
  position: absolute;
  top: -8px;
  width: 30px;
  height: 5px;
  background-color: grey;
  transition: all 1s ease;
}
.burger-container .burger::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 30px;
  height: 5px;
  background-color: grey;
  transition: all 1s ease;
}
.burger-container.show .burger {
  background: transparent;
  transform: rotate(360deg);
}
.burger-container.show .burger::before {
  transform: translate(0, 8px) rotate(45deg);
}
.burger-container.show .burger::after {
  transform: translate(0, -8px) rotate(-45deg);
}

.book-remove-btn {
  padding: 2em;
  margin: 1em 0;
}

@media only screen and (min-width: 768px) {
  .btn-1 {
    background-color: transparent;
    text-decoration: underline;
    font-size: 1.5em;
  }

  .btn-2 {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
