* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.book-list {
  width: 100%;
}

h2 {
  text-align: center;
  margin: 1em;
}

.books-container li:nth-child(odd) {
  background: antiquewhite;
}

.books-container li:nth-child(even) {
  background: darkgrey;
}

.books-container .book-list {
  border: 1px solid black;
  border-radius: 4px;
  gap: 1em;
  padding: 1em;
  list-style: none;
}

.books-container .book-list-element {
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0 5em;
  padding: 1em;
}

.books-container hr {
  width: 250px;
  margin: 2em;
}

.contact-information {
  width: 500px;
}

.contact-information-list {
  align-items: flex-start;
  margin: 2em 4em;
}

.btn-1 {
  background-color: #ea4f36;
  border-radius: 4px;
  border: none;
  padding: 1em;
  margin: 1em 0;
  align-self: flex-end;
}
