$main-theme-color: #ea4f36;
$second-theme-color: blue;

$main-font-color: black;
$second-font-color: grey;

$dark-background-color: #303030;

@mixin sectionTitle($size: 56px, $height: 64px, $color: $color_main_orange) {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: $size;
  line-height: $height;
  color: $color;
}

@mixin robotoTitle($sice, $height, $color) {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: $sice;
  line-height: $height;
  color: $color;
}

@mixin flexCenter($direction:column) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin desktopResolution {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin customButtonIcon($path, $sizeX, $sizeY) {
  background-image: url($path);
  vertical-align: bottom;
  display: inline-block;
  width: $sizeX;
  height: $sizeY;
  background-repeat: no-repeat;
  margin-left: 10px;
}
