@use '../utils/'as *;
@use '../themes/themes'as *;

.books-container {
  @extend %generalSpacing;

  .book-list {
    @include flexCenter;

    gap: 1em;
    background-color: $color-dark-1;
    width: 100%;
    padding: 1em;
    border-radius: 8px;

    .book-list-element {
      @include flexCenter(row);

      justify-content: space-around;
      border-radius: 8px;
      width: 100%;
    }

    .book-list-element:nth-child(odd) {
      @include setTheme(ligth);

      .book-remove-btn {
        @include setColors($color-dark-2, $color-ligth-2);
      }
    }

    .book-list-element:nth-child(even) {
      @include setTheme(dark);

      .book-remove-btn {
        @include setColors($color-ligth-1, $color-dark-1);
      }
    }
  }
}
