@use '../utils/' as *;

body {
  @extend %mainFont;

  background-image: url('../../assets/Ilustration-2.png'), url('../../assets/Ilustration-1.png');
  background-position: top, bottom;
  background-repeat: no-repeat;
  background-color: $color-ligth-2;
  height: 100vh;

  .hide {
    display: none;
  }
}
