@use '../utils/'as *;
@use '../vendors/include-media' as *;

body {
  @extend %mainFont;

  @include flexCenter;

  @include media(">phone", "<=tablet") {
    background-image: url('../../assets/Ilustration-2.png'), url('../../assets/Ilustration-1.png');
    background-position: top right, bottom left;
    background-repeat: no-repeat;
    background-color: $color-ligth-2;
    height: 100vh;
  }

  @include media(">tablet") {
    background-image: url('../../assets/Ilustration-3.png');
    background-position: top right, bottom left;
    background-repeat: no-repeat;
    background-color: $color-ligth-2;
    height: 100vh;
  }

  .hide {
    display: none;
  }
}
