@use '../utils'as *;

.books-container {
  h2 {
    text-align: center;
  }

  .book-list {
    @include flexCenter;

    border: 1px solid black;
    border-radius: 4px;
    gap: 1em;
    padding: 1em;
    list-style: none;
  }

  .book-list-element {
    @include flexCenter;

    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  hr {
    width: 250px;
    margin: 2em;
  }
}

.books-container {
  li:nth-child(odd) {
    background: red;
  }

  li:nth-child(even) {
    background: blue;
  }
}
