@use '../utils/' as *;

h1,
h2 {
  @include setColors($color-dark-2, transparent );
  @include styleFont(2em);

  margin: 0 0 1em;
}

h3 {
  text-align: right;
  font-size: 0.8em;
  position: fixed;
  top: 50px;
  width: 100%;
}
